.section{
    padding: 0 var(--app-block-padding);
    background-color: #EFEFEF;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
}
.card, .discount {
    background-color: #fff;
    width: 269px;
    max-width: 269px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    color: #000;
    font-size: 16px;
}

.card  span.free, .card  span.one-time {
    background-color: #0D72EA;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 4px;
    font-weight: bold;
    margin: 10px 0;
}

.card  span.one-time {
    background-color:#fff ;
    color: #0D72EA;
    border: 1px solid #0D72EA;
}

.card h4.planName {
    font-size: 23px;
    color: #000000;
}

.header {
    margin: 0 20px;
    border-bottom: 2px solid #ccc;
}

.content {
    flex: 1;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: -8px 10px 12px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content ul {
    padding: 20px;
    padding-bottom: 0;
    list-style-image: url(../../assets/images/icons/ticks.svg);
}

.content ul li {
    padding: 5px 15px;
    position: relative;
}

.content ul li p {
    margin: 0;
    margin-top: -4px;
}

.content .button{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.footer {
   padding: 20px;
   color: #535353;
   font-size: 12px; 
}

.footer a {
    padding: 10px;
    color: #535353;
    font-size: 12px;  
}

.flex {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: center;
}

.title, .description {
    color: #000;
    font-size: 38px;
    text-align: center;
    margin: 0;
}

.description {
    font-size: 16px;
    padding: 14px 0px;
}

.discount {
    max-width: none;
    width: fit-content;
    display: flex;
    justify-items: space-around;
    align-items: center;
    padding: 4px 40px ;
    color: #000;
    flex-wrap: wrap;
    font-size: 23px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .discount {
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding-bottom: 10px;
    }
}