.btn,
.btn-secondary,
.btn-outline {
  background-color: black;
  border: none;
  color: #fff;
  padding: 16px 35px;
  border-radius: 500px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Helvetica Neue',;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: greenyellow;
  border: 1px solid #ccc;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

@media (max-width: 500px) {
  .btn-outline, .btn {
    padding: 10px 20px;
    text-wrap: nowrap;
    margin-top: 10px;
  }
  .btn-outline.btn-invert{
    margin-top: 10px;
    justify-content: center;
  }
}
.btn-outline.btn-invert {
  background-color: inherit;
  border: 2px solid #000;
  margin-left: 15px;
  color: #000;
  font-weight: bold;
}
section.green {
  background-color: rgb(84, 217, 82);
}
