.hero {
  background: #1d75de;
  max-width: 100%;
  min-height: 370px;
  text-align: center;
  padding: 2em  3em 0;
  color: rgba(255, 255, 255, 1);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 5%;
}
 
p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 4%;
}
 
h6 {
  color: rgba(255, 255, 255, 1);
  margin-top: 2%;
  font-weight: 400;
  font-size: 0.69rem;
}

h6 a {
  list-style-type: none;
  color: rgba(255, 255, 255, 1);
}
 
.GetStartedBtn {
  background-color: #000000;
  padding: 1em 2em 1em 2em;
  border-radius: 50px;
  border: 2px solid #000000;
  font-family: Helvetica;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
}
 
.SeeOtherPlans {
  background-color: transparent;
  padding: 1em 2em 1em 2em;
  border-radius: 50px;
  border: 2px solid #ffff;
  font-family: Helvetica;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .hero {
    min-height: 390px;
  }

  h1 {
    font-size: 30px;
  }

  .GetStartedBtn{
    margin-right: 0;
  }

  .SeeOtherPlans {
    align-items: center;
  }

  h6  {
    padding-bottom: 27px;
  }
}